.hor-check {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;

    &--blue-bg {
        background-color: rgba(68, 166, 194, 0.18);
    }

    &__label {
        text-align: left;
        font: normal normal normal 12px/15px Source Sans Pro;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    &__container {
        min-width: 40px;
        width: 40px;
        padding: 10px 10px 2rem;
        display: flex;
        flex-direction: column;
        flex-basis: 0;

        &:hover {

        }

        &__label {
            font-size: x-small;
        }

        &__checkbox {
            cursor: pointer;
            height: 20px;
            width: 20px;
            background-color: white;
            border: 1px solid black;

            &:checked {

            }
        }

        &__span-checkbox {


            &:after {

            }
        }
    }
}
  
