.text-area {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;

  &--blue-bg {
    background-color: rgba(68, 166, 194, 0.18);
  }

  &__container {
    font-weight: bolder;
  }

  &__input {
    resize: none;
    width: 25rem;
    height: 5rem;
    padding: 0.5rem;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  }
}

