.user-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 .6rem 1.5rem 0 rgba(0, 0, 0, .2);
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;

  &__title {
    font-weight: bold;
  }

  &__email {
    color: grey;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
