.result {
  max-width: 1400px;
  margin: 8rem auto 5rem;

  &__container {
    display: flex;
    column-gap: 1rem;
    justify-content: center;

    &--item {
      flex: 1;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__model-explanation {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__subtitle {
    z-index: 1;
    background: white;
    position: sticky;
    text-align: center;
    padding: 1rem 0;
    top: 6rem;
  }

  &__download-container {
    padding: 2rem 0 2rem 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__download-button {
    margin-left: 1rem;
  }
}
