.scan {
	max-width: 1400px;
	margin: auto;
	padding-top: 7.5rem;

	&__tabs {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

		&-item {
			font-size: 1.6rem;
			font-weight: 600;
			padding: 1rem;
			text-align: center;
			border-radius: 0.5rem 0.5rem 0 0;
		}
	}
}
