// COLORS
$color-purple: rgba(0, 0, 100, .5);

$background-color: $color-purple;
$color-white: white;

// SIDEBAR
$sidebar-width: 14rem;

// FONTS
$base-font-family: sans-serif;
$text-color: black;
$base-font-size: 16px;

// BREAKPOINTS
$breakpoints: (
        'half-screen': (max-aspect-ratio: 4/3),
);
