// COLORS
$color-white: rgb(255, 255, 255);
$color-gray: #707070;

$background-color: $color-white;

// SIDEBAR
$sidebar-width: 14rem;

// FONTS
$base-font-family: sans-serif;
$text-color: black;
$base-font-size: 16px;

// BREAKPOINTS
$breakpoints: (
        'half-screen': (max-aspect-ratio: 4/3),
);
