// COLORS
$color-white: rgb(255, 255, 255);
$color-gray: #707070;
$color-black: #000000;
$color-blue: #44A6C2;
$color-purple: #B072AD;
$color-orange: #EC7A0B;
$color-green: #45AD48;

$background-color: $color-white;

// SIDEBAR
$sidebar-width: 14rem;

// FONTS
$base-font-family: sans-serif;
$text-color: black;
$base-font-size: 16px;

// BREAKPOINTS
$breakpoints: (
        'half-screen': (max-aspect-ratio: 4/3),
);
