.hor-check {
	display: flex;
	flex-direction: row;

	column-gap: 0.5rem;

	&__container {
		display: flex;
		justify-content: center;

		width: 50px;
		min-width: 50px;
		padding: 10px 10px 1rem;

		&__label {
			font-size: x-small;

			position: absolute;
		}

		&__checkbox {
			width: 20px;
			height: 20px;

			cursor: pointer;

			border: 1px solid black;
			background-color: white;
		}
	}

	&__text {
		font-size: 1em;

		margin-bottom: 1rem;
	}
}
