.progress-dots {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__dot {
		width: 25px;
		height: 25px;
		margin: 0.4rem;

		border-width: 2px;
		border-style: solid;
		border-radius: 50%;
	}
}
