@import 'flex';
@import 'space';

.cursor-forbidden {
  cursor: not-allowed;
}

.cursor-normal {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}