.navbar {
	font-size: 0.8rem;

	position: sticky;
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;

	background: $color-white;
	-webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		min-height: 4rem;
		margin-right: 1rem;
		margin-left: 1rem;

		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		@media (max-width: 768px) {
			flex-direction: column;

			min-height: 8rem;
		}

		&--right {
			display: flex;

			column-gap: 3rem;
		}
	}
}
