@import 'user-card-light';
@import 'user-card-dark';

.user-card {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;

  &__title {
    font-weight: bold;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
