@import 'reset';
@import 'typography';
@import 'fonts';

html {
	height: 100%;
}

body {
	height: 100%;

	background: $background-color no-repeat;
	background-size: cover;
}

main,
#root {
	height: 100%;
}

section[class$='-page'] {
	padding: 1rem;
}

input[type='text']:disabled,
input[type='password']:disabled {
	cursor: not-allowed;
}
