$extra-light: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;

@font-face {
    font-family: SourceSansPro;
    font-weight: $extra-light;
    src: url("../../assets/fonts/SourceSansPro-ExtraLight.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $extra-light;
    font-style: italic;
    src: url("../../assets/fonts/SourceSansPro-ExtraLightItalic.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $light;
    src: url("../../assets/fonts/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $light;
    font-style: italic;
    src: url("../../assets/fonts/SourceSansPro-LightItalic.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $regular;
    src: url("../../assets/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $semi-bold;
    src: url("../../assets/fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $semi-bold;
    font-style: italic;
    src: url("../../assets/fonts/SourceSansPro-SemiBoldItalic.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $bold;
    src: url("../../assets/fonts/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $bold;
    font-style: italic;
    src: url("../../assets/fonts/SourceSansPro-BoldItalic.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $black;
    src: url("../../assets/fonts/SourceSansPro-Black.ttf");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: $black;
    font-style: italic;
    src: url("../../assets/fonts/SourceSansPro-BlackItalic.ttf");
}