body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $text-color;
}

.font-lato {
  font-family: 'Lato', 'sans-serif';
}

.font-opensans {
  font-family: 'OpenSans', 'sans-serif';
}

h1 {
  font-size: 3.75rem;
  font-weight: bold;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
}
