html, body, #root, .app {
	height: 100%;
}

.app {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 2rem;
}

section[class$='-page'] {
	padding: 1rem;
}

input[type='text']:disabled,
input[type='password']:disabled {
	cursor: not-allowed;
}
